body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../images/首页图片2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

.box h2 {
    margin: 0 10px 30px;
    padding: 0;
    color: #fff;
    text-align: center;

}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    border: none;
    outline: none;
    background: transparent;
    letter-spacing: 1.2px;

}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:valid~label,
.box .inputBox input:focus~label {
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 15px;
}

.box input[type="submit"] {
    position: relative;
    width:100%;
    top:-20px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background-color: #03a9f4;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.box div{
    position: relative;

}
.a{
    text-decoration: none;
    color:aquamarine;
    font-size: 12px;
}

#info_div{
    width:auto;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#info_div h1{
    color:white;
    font-size:xxx-large;
    letter-spacing: 1.5px;
}

#info_div #jump{
    margin-top:20%;
    color:whitesmoke;
    font-size:x-large;
}